/* For the normal state of the navigation item */
.list-group-item {
    color: red;
    background-color: white;
    border-left: none;  /* Ensuring there's no border on the left by default */
    /* Additional Bootstrap overrides if needed */
    border-color: transparent; /* Makes the default border transparent */
}

/* When the navigation item is selected/active */
.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 4px solid black; /* A black border on the left when the item is active */
    border-top: none;
    border-right: none;
    border-bottom: none;
}
