
.breadcrumb-item + .breadcrumb-item::before {
    content: " > ";  
    color: #6c757d; 
}


.breadcrumb-item a {
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom:20px;
}


.course-text {
    color: red !important; 
}

.courseID-text {
    color: red !important;
}

.assignment-text {
    color: black !important;
}

.assignment-item {
    background-color: #f5f5f5; 
    margin-bottom: 10px;
    border-bottom:1px solid grey;
    border-right:1px solid grey;
    border-top:1px solid grey;
    
}

.assignment-title {
    background-color: #e0e0e0; 
    padding: 10px;
    border-left:1px solid grey;
}

.btn.btn-secondary i.fas {
    color: #000;
}


.btn.assignment-button {
    background-color: red;
    color: #fff;        
    margin-right: 4px;
    height: 40px;
}

.btn.assignment-button i.fas {
    color: #fff;
}

.assignment-list {
    list-style-type: none;
    padding: 10px;
    padding-left: 20px; 
    border-left: 5px solid green;
}

.assignment-item {
    background-color: #f5f5f5; 
    margin-bottom: 10px;    
    border-left:1px solid grey;
}

.description-item{
    background-color: #f5f5f5;
    margin-bottom: 10px;  
    border-left:5px solid green;
}

.assignment-date {
    color: grey;
    font-size: 0.9rem;
    margin-top: 5px; 
}


.action-icons {
    display: flex;
    align-items: center; 
}

.assign-input-group {
    position: relative;
}

.date-inputs {
    gap: 15px;
}

.date-input label {
    font-size: 0.8rem; 
    color: gray; 
}

/* Add these styles to your stylesheet */
@media (max-width: 768px) {
    .assign-input-group .input-box {
        width: 100%; /* Take full width on small screens */
    }
}

